/* Body */

body {
    background-color: white;
    text-align: center;
    font-family: 'Roboto', Arial;

    margin: 0;
    padding: 0;
}

.body.container {
    display: flex;
    flex-direction: column;
}

/* Header */

.header {
    display: flex;
    align-items: center;

    background-color: #1F2937;
    color: #F9FAF8;
}

.header.logo {
    margin-right: auto;

    font-size: 24px;
    color: #F9FAF8;
}

.header.links {
    display: flex;

    margin-left: auto;
}

.header.links a {
    text-decoration: none;

    color: #E5E7EB;
    font-size: 18px;
}

/* Hero */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1F2937;
    /* color: #F9FAF8; */
}

.hero.text {
    flex-basis: 400px;

    display: flex;
    flex-direction: column;

    text-align: left;
}

.hero.title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero.text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero.img {
    width: 500px;
    height: 350px;
}

/* Info */

.info {
    align-items: center;
}

.info.text {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.cardpack {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card.img {
    width: 200px;
    height: 200px;

    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

/* Quote */

.quote{
    display: flex;
    flex-direction: column;

    background-color: #E5E7EB;
}

.quote.text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
}

.quote.author {
    text-align: right;

    font-size: 24px;
    font-weight: 800;
}

/* Signup */

.signup {
    display: flex;
    align-items: center;

    background-color: #3882F6;

    border-radius: 5px;
    border-color: none;
}

.signup.textbox, .signup.button {
    flex: 1;
}

.signup.textbox {
    text-align: left;
    
    color: white;
}

.signup.title {
    font-weight: bold;
}

/* .signup.text {
} */

/* Footer */

.footer {
    background-color: #1F2937;
    color: white;
}

/* Button */

.button {
    display: block;
    text-align: center;
    text-decoration: none;

    width: 110px;
    border-radius: 8px;

    border-color: white;
    background-color: #3882F6;
    color: white;
    font-size: 15px;
    font-weight: bold;
}